#searchBox{
    width: 650px;
}
#profile-btn{
    color: rgb(31, 29, 29);
    background-color: #07a414;
    border-color: #0d6efd;
}
#bg-danger{
    /* --bs-bg-opacity: 1; */
    background-color: rgb(232, 23, 124);

}
.sticky {
    z-index:2 ;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
      }

  .main-logo{
    height: 91px;
    width: 235px;
  }
  .bgc{
    background: #4f35e2;
  }


